# Secrets & Credentials
.env
*.env
*.json
credentials/
secrets/

# Python & Virtual Environments
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
*.db-*
*.sqlite3
*.sqlite3-*

# Logs
logs/
*.log

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Test & coverage
.pytest_cache/
.coverage
htmlcov/
